@page "{id:int}"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@model RecipeSharingProject.Client.Pages.Recipe.RecipeDetailsModel
@{
    ViewData["Title"] = "Recipe Details";
}

@if (!string.IsNullOrEmpty(Model.Recipe.PhotoUrl))
{
    <div>
        <img src="@Model.Recipe.PhotoUrl" alt="Recipe Image" style="max-width: 100%; height: auto;" />
    </div>
}

<h2>@Model.Recipe.Name</h2>

<h3>Cuisine</h3> 
<p>@Model.Recipe.Cuisine</p>

<h3>Ingredients</h3>

<ul>
    @foreach (var ingredient in Model.Recipe.Ingredients.Split(',', System.StringSplitOptions.RemoveEmptyEntries))
    {
        <li>@ingredient</li>
    }
</ul>

<h3>Steps</h3>

<ul>
    @foreach (var step in Model.Recipe.Steps.Split(',', System.StringSplitOptions.RemoveEmptyEntries))
    {
        <li>@step</li>
    }
</ul>

<h3>Time Needed</h3>
<p>@Model.Recipe.TimeNeeded minutes</p>

<h3>Serving</h3> 
<p>@Model.Recipe.Serving servings</p>

<h3>Nutrition Facts</h3>
<table class="nutrition-table">

    <tr> <th>Property</th>
        <th>Value</th> 
    </tr> 

    <tr> 
        <td>Calories</td>
        <td>@Model.Recipe.Calories</td> 
    </tr> 

    <tr> <td>Fat (grams)</td> 
        <td>@Model.Recipe.Fat</td> 
    </tr> 

    <tr>
        <td>Saturated Fat (grams)</td>
        <td>@Model.Recipe.SaturatedFat</td>
    </tr> 

    <tr> 
        <td>Trans Fat (grams)</td> 
        <td>@Model.Recipe.TransFat</td> 
    </tr> 

    <tr> 
        <td>Cholesterol (mg)</td>
        <td>@Model.Recipe.Cholesterol</td>
    </tr> 

    <tr> 
        <td>Sodium (mg)</td> 
        <td>@Model.Recipe.Sodium</td> 
    </tr> 

    <tr>
        <td>Carbohydrates (grams)</td> 
        <td>@Model.Recipe.Carbohydrates</td>
    </tr>
    
    <tr> 
        <td>Fiber (grams)</td>
        <td>@Model.Recipe.Fiber</td>
     </tr> 

    <tr> 
        <td>Sugars (grams)</td>
        <td>@Model.Recipe.Sugars</td>
    </tr>

    <tr> 
        <td>Protein (grams)</td> 
        <td>@Model.Recipe.Protein</td> 
    </tr> 

    <tr> 
        <td>Serving Size</td> 
        <td>@Model.Recipe.ServingSize</td>
    </tr> 

</table>

<div>
    <button onclick="openShareModal()">Share</button>
    <div id="shareModal" class="modal"> 
        <div> 
            <span onclick="closeShareModal()">&times;</span> 
            <h2>Share via:</h2>
            <div>
                <a href="#" id="whatsappShare" target="_blank">WhatsApp</a>
                <a href="#" id="googleShare" target="_blank">Google</a> 
                <a href="#" id="telegramShare" target="_blank">Telegram</a>
            </div> 
        </div> 
    </div> 
</div>

<div>
    <a asp-page="/Recipe/EditRecipe" asp-route-id="@Model.Recipe.Id" class="btn btn-warning">Edit</a>
    <form method="post">
        <input type="hidden" name="Id" value="@Model.Recipe.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

@section Scripts 
{
    <script>

        function openShareModal() 
        { 
            document.getElementById('shareModal').style.display = 'block';
            var shareUrl = '@Model.GenerateSharingUrl()';
            document.getElementById('whatsappShare').href = `https://api.whatsapp.com/send?text=${encodeURIComponent(shareUrl)}`; 
            document.getElementById('googleShare').href = `https://plus.google.com/share?url=${encodeURIComponent(shareUrl)}`;
            document.getElementById('telegramShare').href = `https://t.me/share/url?url=${encodeURIComponent(shareUrl)}`; 
        } 

        function closeShareModal() 
        { 
            document.getElementById('shareModal').style.display = 'none'; 
        } 

        window.onclick = function(event)
        {
            var modal = document.getElementById('shareModal'); 

            if (event.target == modal) 
            { 
                modal.style.display = 'none';
            } 
        }       
    </script>
}