@page "{id:int}"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@model RecipeSharingProject.Client.Pages.Recipe.RecipeDetailsModel
@{
    ViewData["Title"] = "Recipe Details";
}

@if (!string.IsNullOrEmpty(Model.Recipe.PhotoUrl))
{
    <div>
        <img src="@Model.Recipe.PhotoUrl" alt="Recipe Image" style="max-width: 100%; height: auto;" />
    </div>
}
<h2>@Model.Recipe.Name</h2>

<h3>Ingredients</h3>
<ul>
    @foreach (var ingredient in Model.Recipe.Ingredients.Split(',', System.StringSplitOptions.RemoveEmptyEntries))
    {
        <li>@ingredient</li>
    }
</ul>
<h3>Steps</h3>
<ul>
    @foreach (var step in Model.Recipe.Steps.Split(',', System.StringSplitOptions.RemoveEmptyEntries))
    {
        <li>@step</li>
    }
</ul>
<div>
    <a asp-page="/Recipe/EditRecipe" asp-route-id="@Model.Recipe.Id" class="btn btn-warning">Edit</a>
    <form method="post">
        <input type="hidden" name="Id" value="@Model.Recipe.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>